:root {
    font-size: 62.5%;
    --clr-primary-red: hsl(0, 100%, 74%);
    --clr-primary-green: hsl(154, 59%, 51%);

    --bg-try: hsl(248, 32%, 49%);
    --clr-input: hsl(249, 10%, 26%);
    --clr-notice: hsl(246, 25%, 77%);
    --clr-text: hsl(255, 100%, 100%);

    --ff-main: 'Poppins', sans-serif;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --bd-radius: 1.3rem;
    --btn-box-shadow: hsl(154, 51%, 41%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.close {
    display: none;
}

body {
    display: grid;
    place-content: center;
    min-height: 100dvh;
    margin: 8rem 1rem;

    background-color: var(--clr-primary-red);
    background-image: url(images/bg-intro-mobile.png);
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;

    font-weight: var(--fw-regular);
    color: var(--clr-text);
}

body, input, button {
    font-family: var(--ff-main);
    font-size: 1.6rem;
}

.intro-component {
    display: grid;
}

.hero {
    text-align: center;
    line-height: 1.2;
    display: grid;
    gap: 3rem;
    margin-bottom: 6rem;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: var(--fw-bold);
}

.form-section {
    display: grid;
    gap: 3rem;
}

.free-trial {
    background-color: var(--bg-try);
    padding: 1.5rem 3.7rem;
    text-align: center;
    border-radius: var(--bd-radius);
    box-shadow: 0px 13px 6px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 13px 6px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 13px 6px -1px rgba(0,0,0,0.2);
    transition: transform 300ms;
}

.free-trial:hover,
.btn:hover {
    transform: translateY(-10px);
}

form {
    display: grid;
    gap: 1.5rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: var(--bd-radius);
    box-shadow: 0px 13px 6px -1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 13px 6px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 13px 6px -1px rgba(0,0,0,0.2);
}

.field-group {
    display: grid;
}

.flex-group {
    display: flex;
    position: relative;
}

input {
    height: 6rem;
    width: 100%;
    outline: none;
    border-radius: var(--bd-radius);
    padding: 1rem 3rem;
    border: 1px solid var(--clr-notice);
    font-weight: var(--fw-semi-bold);
}

input:focus {
    border: none;
    outline: 2px solid var(--bg-try);
}

.icon-error {
    position: absolute;
    top: 30%;
    right: 7%;
}

.error-text {
    color: var(--clr-primary-red);
    justify-self: flex-end;
}

.btn {
    background-color: var(--clr-primary-green);
    border: none;
    color: var(--clr-text);
    border-radius: var(--bd-radius); 
    font-weight: var(--fw-semi-bold);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    transition: transform 300ms;

    box-shadow: 0px 5px var(--btn-box-shadow);
    -webkit-box-shadow: 0px 5px var(--btn-box-shadow) ;
    -moz-box-shadow: 0px 5px var(--btn-box-shadow);
}

.btn:active, 
.btn:hover,
.terms:active,
.terms:hover {
    opacity: .7;
}

.notice {
    color: var(--clr-notice);
    text-align: center;
}

.terms {
    text-decoration: none;
    color: var(--clr-primary-red);
    font-weight: var(--fw-semi-bold);
}

footer {
    margin-top: 3rem;
}

.attribution { 
    font-size: 1.1rem;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}


@media (min-width: 300px) {
    .free-trial {
        padding: 2.3rem 7rem;
    }

    .btn {
        padding: 2rem 3rem;
        font-size: 1.8rem;
    }
}

@media (min-width: 650px) {
    body {
        margin: 0;
        background-repeat: repeat;
        background-size: contain;
    }

    .intro-component {
        grid-template-columns: 1fr 1fr;
        max-width: 1300px;
        gap: 5rem;
        padding: 9rem 4rem;
    }

    .hero {
        align-self: center;
        justify-self: center;
        text-align: left;
        margin: 0;
    }

    .hero h1 {
        font-size: 5rem;
    }

    .hero p {
        line-height: 1.5;
    }

    form {
        padding: 4rem;
    }

    footer {
        margin-top: 0;
        margin-bottom: 5rem;
    }
}